# PATH TO THE PROJECT YOU WANT TO MOUNT IN EACH DOMAIN
APP_CODE_FIRST_PROJECT=../
APP_CODE_SECOND_PROJECT=../
APP_CODE_THIRD_PROJECT=../

COMPOSE_PROJECT_NAME=develop

# PHP Configuration
# Change PHP version: 8.3, 8.2, 8.1, 8.0, 7.4, 7.3, 7.2, etc.
PHP_VERSION=8.0

# User synchronization with host system
# Get your UID with: id -u
# Get your GID with: id -g  
USER_ID=1000
GROUP_ID=1000